/* @link https://utopia.fyi/space/calculator?c=320,14,1.2,1600,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --space-3xs: clamp(0.25rem, 0.2344rem + 0.0781vw, 0.3125rem);
    --space-2xs: clamp(0.4375rem, 0.3906rem + 0.2344vw, 0.625rem);
    --space-xs: clamp(0.6875rem, 0.625rem + 0.3125vw, 0.9375rem);
    --space-s: clamp(0.875rem, 0.7813rem + 0.4688vw, 1.25rem);
    --space-m: clamp(1.3125rem, 1.1719rem + 0.7031vw, 1.875rem);
    --space-l: clamp(1.75rem, 1.5625rem + 0.9375vw, 2.5rem);
    --space-xl: clamp(2.625rem, 2.3438rem + 1.4063vw, 3.75rem);
    --space-2xl: clamp(3.5rem, 3.125rem + 1.875vw, 5rem);
    --space-3xl: clamp(5.25rem, 4.6875rem + 2.8125vw, 7.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, 0.1563rem + 0.4688vw, 0.625rem);
    --space-2xs-xs: clamp(0.4375rem, 0.3125rem + 0.625vw, 0.9375rem);
    --space-xs-s: clamp(0.6875rem, 0.5469rem + 0.7031vw, 1.25rem);
    --space-s-m: clamp(0.875rem, 0.625rem + 1.25vw, 1.875rem);
    --space-m-l: clamp(1.3125rem, 1.0156rem + 1.4844vw, 2.5rem);
    --space-l-xl: clamp(1.75rem, 1.25rem + 2.5vw, 3.75rem);
    --space-xl-2xl: clamp(2.625rem, 2.0313rem + 2.9688vw, 5rem);
    --space-2xl-3xl: clamp(3.5rem, 2.5rem + 5vw, 7.5rem);

    /* Custom pairs */
    --space-s-l: clamp(0.875rem, 0.4688rem + 2.0313vw, 2.5rem);
}

* {
    padding: 0%;
    margin: 0%;
    /* outline: 1px solid red; */
    box-sizing: border-box;
}

@media(min-width:320px) {
    body {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        margin: 2rem;
        flex-direction: column;
        gap: var(--space-2xl);
    }

    nav{
        display: flex;
        gap: var(--space-2xl);
        align-items: center;
        justify-content: center;
    }
    main,section{
         display: flex;
        gap: var(--space-2xl);
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    button{
        width: fit-content;
        padding:0rem 2rem;
    }

    .card{
        display: flex;
        gap: 2rem;
    }

    .cards {
        background-color: greenyellow;
        height: 100px;
        width: 100px;

    }
    footer{
        width: 300px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: grey;
    }
}